{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pollssite/style.css' %}">


<h2> Poll app 3</h2>
<h1> Latest question</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li> <a href="{% url 'polls3:detailofques' question.id %}">{{ question.question_text }} </a></li>
     {% endfor %}
    </ul>
{% else %}
    <p>No polls are available =)))) </p>
{% endif %}
